body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url(./img/img1.jpg);
}

.slide2 {
  background-image: url(./img/img2.jpg);
}

.slide3 {
  background-image: url(./img/img3.jpg);
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  left: 0;
  margin-left: 30px;
  border-color: transparent #fff transparent transparent;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  right: 0;
  margin-right: 30px;
  border-color: transparent transparent transparent #fff;
}
