body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

.container {
  max-width: 400px;
}

.card img {
  object-fit: cover;
}

.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}

.display-4 {
  font-size: 2.5rem;
  margin-bottom: 1em !important;
}
